build/*
extras/*
*~
*.synctex
*.tps
texcount.pl
wordcount.txt
phdthesis.pdf
*.acn
*.acr
*.alg
*.aux
*.bbl
*.gib
*.gic
*.gih
*.git
*.gix
*.gob
*.goc
*.goh
*.got
*.gox
*.idx
*.ist
*.kilepr
*.lgb
*.lgc
*.lgh
*.lgt
*.lgx
*.log
*.mw
*.out
*.synctex.gz
*.tcp
*.toc
